
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dört İşlem</h2>

<form class="form-group" method="post">
    <div>
        Sayı 1: <input type="text" name="s1" id="s1" />
        Sayı 2: <input type="text" name="s2" id="s2" />
        <button class="btn btn-warning">Hesapla</button>
        <br />
        Toplama: @ViewBag.toplama
        <br />
        Çıkarma: @ViewBag.cikarma
        <br />
        Çarpma: @ViewBag.carpma
        <br />
        Bölme: @ViewBag.bolme
    </div>
</form>

