@model OgrenciNotMVC.Models.EntitiyFramework.TblDersler
@{
    ViewBag.Title = "DersGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Default", FormMethod.Post))
{
    <div class="form-group">
        <label>Ders Adı</label>
        @Html.TextBoxFor(d => d.DersAd, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(d => d.DersID)
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}
